# Python
__pycache__/
*.py[cod]
*.pyd
.venv/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
docs/Secrets.md

# Dataset
data/raw/
data/processed/
data/**/*.dcm
*.dcm

# Models / checkpoints
*.pt
*.pth
*.ckpt

# Generated outputs
outputs/
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.dbnotebooks/dath_cxr_repo/
